@use '../mixins' 
@use '../variables'

#social-networks
    @include mixins.center
    gap: 1rem
    margin: 1rem 0

    .social-btn
    padding: .6rem
    background-color: variables.$bg-color-secundary
    border-radius: variables.$card-border-radius
    font-size: 1.3rem
    @include mixins.center
     
    #linkedin
        color: DarkCyan

    #github
        color: DarkCyan

    #instagram
        color: DarkCyan

    :hover
        background: variables.$gradient
        border-radius: 5px
        @include mixins.center
        > svg
            color: variables.$text-color
    
