$font-stack : "Helvetica"
$text-color: white
$text-color-secundary: black
$body-bg-color:   DarkGreen
$bg-color: MediumSeaGreen	
$bg-color-secundary: DarkSeaGreen
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: LimeGreen